In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('final_data.csv')

In [6]:
df.head()

   Unnamed: 0       Star_name     Distance Mass Radius
0           0             Sun  0.000015813    1      1
1           1          Sirius       0008.6  2.1  1.71´
2           2         Canopus         0310   15     71
3           3  Alpha Centauri       0004.4  1.1    1.2
4           4        Arcturus         0037  1.1     26

In [7]:
df.columns

Index(['Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [8]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [9]:
df.head()

        Star_name     Distance Mass Radius
0             Sun  0.000015813    1      1
1          Sirius       0008.6  2.1  1.71´
2         Canopus         0310   15     71
3  Alpha Centauri       0004.4  1.1    1.2
4        Arcturus         0037  1.1     26

In [10]:
df.dtypes

Star_name    object
Distance     object
Mass         object
Radius       object
dtype: object

In [13]:
df['Radius']=float(df['Radius'].apply(lambda x: x.replace('$', '').replace(',', '')))

TypeError: cannot convert the series to <class 'float'>

In [12]:
radius = df['Radius'].to_list()
mass = df['Mass'].to_list()
gravity =[]

#converting solar mass and radius into km & kg
def convert_to_si(radius,mass):
    for i in range(0,len(radius)-1):
        radius[i] = radius[i]*6.957e+8
        mass[i] = mass[i]*1.989e+30
        
convert_to_si(radius,mass)

TypeError: can't multiply sequence by non-int of type 'float'

In [22]:
def gravity_calculation(radius,mass):
    G = 6.674e-11
    for index in range(0,len(mass)):
        g= (mass[index]*G)/((radius[index])**2)
        gravity.append(g)
        
gravity_calculation(radius,mass)

df["Gravity"] = gravity
df

                  Star_name    Distance       Mass     Radius       Gravity
0                       Sun    0.000016   1.000000   1.000000  2.742692e+02
1                    Sirius    8.600000   2.100000   1.710000  1.969718e+02
2                   Canopus  310.000000  15.000000  71.000000  8.161153e-01
3            Alpha Centauri    4.400000   1.100000   1.200000  2.095112e+02
4                  Arcturus   37.000000   1.100000  26.000000  4.462960e-01
..                      ...         ...        ...        ...           ...
248  2MASSI J2356547-155310   74.000000   0.076367   0.112012  1.669385e+03
249          WISE 0410+1502   20.000000   0.005728   0.120233  1.086673e+02
250         WISE 0458+6434A   35.900000   0.014319   0.431605  2.108201e+01
251         WISE 0458+6434B   35.900000   0.009546   0.390499  1.716928e+01
252          WISE 1405+5534   25.300000   0.028638   0.088376  2.447107e-10

[253 rows x 5 columns]

In [23]:
#df['Distance']=df['Distance'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')
df.to_csv("star_with_gravity.csv")

In [25]:
df.dtypes

Star_name     object
Distance     float64
Mass         float64
Radius       float64
Gravity      float64
dtype: object